# Predict the cost of buying a Health Insurance.

In today's world of uncertinity buying a Health Insurance is very necessary.In this blog we are going to dicuss on various factors that determine the cost of buying a health insurance.

In [24]:
import pandas as pd
import numpy as np
from sklearn import linear_model
data=pd.read_csv("./insurance.csv")

In [25]:
#Display top 5 rows of dataset
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
#Display the last five rows of dataset
data.tail()

      age     sex    bmi  children smoker     region     charges
1333   50    male  30.97         3     no  northwest  10600.5483
1334   18  female  31.92         0     no  northeast   2205.9808
1335   18  female  36.85         0     no  southeast   1629.8335
1336   21  female  25.80         0     no  southwest   2007.9450
1337   61  female  29.07         0    yes  northwest  29141.3603

In [5]:
#Find Shape of Our Dataset (Number of Rows And Number of Columns)
data.shape

(1338, 7)

In [81]:
 #Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [6]:
#Check Null Values In The Dataset
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [26]:
#Covert Columns From String ['sex','smoker', 'region' ] To Numerical Values
data['sex']=data['sex'].map({'female':1,'male':0})
data['smoker']=data['smoker'].map({'yes':1,'no':0})
data['region']=data['region'].map({'northwest':1,'southwest':2,'northeast':3,'southeast':4})

In [27]:
#Get Overall Statistics About The Dataset
data.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000,1338.000000
mean,39.207025,0.494768,30.663397,1.094918,0.204783,2.543348,13270.422265
std,14.049960,0.500160,6.098187,1.205493,0.403694,1.130917,12110.011237
min,18.000000,0.000000,15.960000,0.000000,0.000000,1.000000,1121.873900
25%,27.000000,0.000000,26.296250,0.000000,0.000000,2.000000,4740.287150
50%,39.000000,0.000000,30.400000,1.000000,0.000000,3.000000,9382.033000
75%,51.000000,1.000000,34.693750,2.000000,0.000000,4.000000,16639.912515
max,64.000000,1.000000,53.130000,5.000000,1.000000,4.000000,63770.428010

In [9]:
data.head()

   age  sex     bmi  children  smoker  region      charges
0   19    1  27.900         0       1       2  16884.92400
1   18    0  33.770         1       0       4   1725.55230
2   28    0  33.000         3       0       4   4449.46200
3   33    0  22.705         0       0       1  21984.47061
4   32    0  28.880         0       0       1   3866.85520

In [28]:
#Store Feature Matrix In X and Response(Target) In Vector y
X=data.drop({'charges'},axis=1)

In [29]:
y=data['charges']

In [30]:
'''Train/Test split
          1. Split data into two-part: a training set and a testing set
          2. Train the model(s) on the training set
          3. Test the Model(s) on the Testing set'''
from sklearn.model_selection import train_test_split

In [31]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [33]:
# Import the models
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [34]:
#Model Training
linreg=LinearRegression()
linreg.fit(X_train,y_train)
svm=SVR()
svm.fit(X_train,y_train)
randforst=RandomForestRegressor()
randforst.fit(X_train,y_train)
gdb=GradientBoostingRegressor()
gdb.fit(X_train,y_train)

GradientBoostingRegressor()

In [35]:
#Prediction on Test Data
ypred1=linreg.predict(X_test)
ypred2=svm.predict(X_test)
ypred3=randforst.predict(X_test)
ypred4=gdb.predict(X_test)
df1=pd.DataFrame({'Actual':y_test,'linreg':ypred1,'svm':ypred2,'randforst':ypred3,'gdb':ypred4})

In [36]:
df1

           Actual        linreg          svm     randforst           gdb
764    9095.06825   8555.865668  9548.290914   9329.190484  10834.160624
887    5272.17580   6971.268465  9492.596802   5166.985041   5723.679055
890   29330.98315  36796.349204  9648.691753  28265.890713  28493.845963
1293   9301.89355   9416.020082  9555.061480  11694.845717  10010.361853
259   33750.29180  26869.004159  9420.592620  34767.180373  33623.164307
...           ...           ...          ...           ...           ...
109   47055.53210  39222.858641  9648.919106  46923.636661  45614.696306
575   12222.89830  11693.569585  9625.385095  12089.930023  12504.955733
535    6067.12675   7254.482397  9504.144918   5950.237019   6758.349735
543   63770.42801  40951.669628  9605.069293  46958.637068  47855.729598
846    9872.70100  12625.045549  9591.206763  10071.582167  10771.733714

[268 rows x 5 columns]

In [37]:
# predict the Insurance charges for a new customer
data={'sex':0,'smoker':1,'age':28,'region':2,'bmi':25,'children':0}
df=pd.DataFrame(data,index=[0])
new_prediction=gdb.predict(df)
print(new_prediction)

[18788.44719841]

In [38]:
# Save Model Usign Joblib
gdb=GradientBoostingRegressor()
gdb.fit(X,y)

GradientBoostingRegressor()

In [39]:
import pickle

In [40]:
filename='final_model_gb.pkl'
pickle.dump(gdb,open(filename,'wb'))
gdb.predict(df)

array([21925.52006083])